<%= form_for(@scale) do |f| %>
  <% if @scale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scale.errors.count, "error") %> prohibited this scale from being saved:</h2>

      <ul>
      <% @scale.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bezeichnung %><br />
    <%= f.text_field :bezeichnung %>
  </div>
  <div class="field">
    <%= f.label :monatlich %><br />
    <%= f.text_field :monatlich %>
  </div>
  <div class="field">
    <%= f.label :einmalig %><br />
    <%= f.text_field :einmalig %>
  </div>
  <div class="field">
    <%= f.label :region_id %><br />
    <%= f.select :region_id, Region.all.collect {|region| [ region.name, region.id ] } %>
  </div>
  <div class="field">
    <%= f.label :notiz %><br />
    <%= f.text_area :notiz %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
