<br />
<br>
<div style="background-color: #ccc;">
<ul>
	<li><%= link_to "Verbindungstypen", :controller => "connectiontypes" %></li>
	<li><%= link_to "Tarife", :controller => "scales" %></li>
	<li><%= link_to "Verfügbarkeiten", :controller => "availabilities" %></li>
	<li><%= link_to "Regionen", :controller => "regions" %></li>
	<li><%= link_to "Benutzer", :controller => "users" %></li>
	<li> </li>
	<li><%= link_to "Buchungen", :controller => "bookings" %></li>
	<li><%= link_to "Check", :controller => "check", :action => "check" %></li>
</ul>
