<h1>Admin#index</h1>
<p>Find me in app/views/admin/index.html.erb</p>
<% if @loggedin == true %>
	Adminpanel
	<%= label_tag(@user) %>
	<%= render :partial => "adminpanel" %>
<% else %>
	<div>
		<%= form_tag("/authenticate") do %>
			<%= label_tag("Benutzer:") %>
			<%= text_field_tag(:username) %><br>
			<%= label_tag("Password:") %>
			<%= text_field_tag(:password) %><br>
			<%= submit_tag "Login" %>
		<% end %>
	</div>	
<% end %>
<%= label_tag(@user) %>